body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: rgb(0, 0, 0); 
}

/* bigger screens */
@media(min-width:990px){

    .hero{
        width: 100%;
        height: 110vh;
        overflow: hidden;  
        /* border: 1px solid rgb(239, 8, 185); */
        /* margin-bottom: -120px;  */
    }
    
    .hero_image{
        width: 100%;
        transform: scale(1.4);
        /* margin-bottom: -120px; */
        /* transform: scale(1.25) translateY(-10%); */
    }
    
    .tint{
        /* border: 1px solid green; */
        /* transform: scale(1.1); */
        /* width: 100%; */
        height: 110vh;
        position: absolute; 
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-bottom: -120px; 
        background-color: rgba(0, 0, 0, 0.491);
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    }
    
    .top_navbar{
        position: absolute;
        top: 0;
        /* border: 1px solid green; */
        display: flex;
        justify-content: space-between;
        width: 840px;
        top: 6%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        padding: 10px;
    }
    
    .netflix_logo{
        color: rgb(229, 9, 20);
        /* border: 1px solid green; */
        height: 38px;
        fill: currentColor;
        margin-bottom: -2px;
        display: inline-block;
    }
    
    .English_Signin_buttons{
        display: flex;
        gap: 20px;
        /* border: 1px solid green; */
        margin-right: 10px;
        font-size: 14px;
        font-weight: 600;
    }
    
    .English_button{
        border: 1px solid rgba(253, 253, 253, 0.39);
        background-color: rgba(22, 22, 22, 0.7);
        color: white;
        border-radius: 5px;
        padding: 8px 30px;
    }
    
    .Signin_button{
        /* border: 1px solid green; */
        border-radius: 5px;
        background-color: red;
        color: white;
        padding: 8px 18px;
        font-weight: bold;
        font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
        border: none;
    }
    
    .hero_content{
        /* border: 1px solid green; */
        position: absolute;
        top: 0;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        /* box-sizing: border-box; */
        width: 840px;
        text-align: center;
    }
    
    .title{
        font-size:5vmax;
        /* border: 1px solid green; */
        text-align: center;
        font-weight: 700;
        font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
        /* box-sizing: border-box; */
    }
    
    .sub_title{
        font-size: 26px;
    }
    
    .desc{
        font-size: 18px;
    }
    
    .email_address_get_started{
        display: flex;
        justify-content: center;
        gap: 14px;
    }
    
    .email_id{
        width: 320px;
        padding: 16px;
        font-size: 16px;
        background-color: rgba(22, 22, 22, 0.7);
        border: 1px solid rgba(128, 128, 128, 0.402);
        border-radius: 4px;
    }
    
    .Get_Started_Button{
        width: 220px;
        padding: 10px 20px 10px 20px;
        font-size: 23px;
        border: none;
        border-radius: 4px;
        background-color: red;
        color: white;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        /* border: 1px solid green; */
    }
    
    .color_arrow{
        /* border: 1px solid green; */
        color: white;
        width: 24px;
        margin-top: 5px;
    }
    
    .get{
        /* border: 1px solid green; */
        border: none;
    }
    
    
    
    
    
    
    
    /* Second Container */
    .second_container{
        /* border: 2px solid rgb(128, 15, 0); */
        color: white;
        width: 990px;
        display: flex;
        margin: 100px auto;
        gap: 80px;
        /* box-sizing: border-box; */
        padding: 10px;
        align-items: center;
    }
    
    
    
    
    
    .left_container{
        /* border: 1px solid green; */
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    
    .left_heading{
        font-size: 44px;
        /* border: 1px solid green; */
        margin-bottom: -10px;
    }
    
    .left_sub_heading{
        font-size: 24px;
        /* border: 1px solid green; */
        width: 450px;
    }
    
    
    
    
    
    
    .right_container{
        /* border: 1px solid green; */
        width: 50%;
        padding: 10px;
        /* position: relative; */
    
    }
    
    .real_tv{
        position: relative;
        /* border: 1px solid rgb(0, 75, 128); */
        display: block;
        width: 495px;
        /* padding: 10px; */
    }
    
    .video{
        object-fit: contain;
        position: absolute;
        width: 80%;
        margin-left: 66px;
        height: 100%;
        /* border: 1px solid rgb(128, 28, 0); */
    }
    
    .tv{
        position: relative;
        width: 100%;
        /* border: 1px solid rgb(128, 119, 0); */
        box-sizing: border-box;
    }
    /* Second Container */
    
    
    
    /* section */
    section{
        border-bottom: 8px solid #69686894;
    }
    /* section */
    
    
    /* third Container */
    .third_container{
        /* border: 2px solid rgb(128, 15, 0); */
        color: white;
        width: 990px;
        display: flex;
        margin: 20px auto;
        gap: 80px;
        padding: 10px;
        align-items: center;
    }
    
    .third_left_container{
        /* border: 1px solid green; */
        padding: 10px;
        width: 50%;
    }
    
    .mobile_image_and_stranger_thing_cover_container{
        /* border: 1px solid rgb(228, 13, 247); */
        width: 90%;
        padding: 10px;
        display: block;
        position: relative;
    }
    
    .mobile_cover{
        /* border: 1px solid rgb(8, 234, 106); */
        /* z-index: 1; */
        position: relative;
        display: block;
        width: 400px;
    }
    
    .Stranger_things_container{
        display: flex;
        background-color: black;
        border: 1.5px solid rgba(139, 139, 139, 0.726);
        width: 50%;
        position: absolute;
        top: 76%;
        transform: translate(50%, -50%);
        z-index: 1;
        border-radius: 9px;
        align-items: center;
        justify-content: center;
    }
    
    .StrangersThings_cover{
        /* border: 1px solid rgb(83, 235, 12); */
        width: 18%;
        margin: 5px;
        position: relative;
    }
    
    .wording_download_container{
        /* border: 1px solid rgb(12, 53, 235); */
        display: flex;
        width: 72%;
        align-items: center;
        justify-content: center;
        /* padding: 10px; */
        margin: 5px;
        gap: 20px;
        position: relative;
        box-sizing: border-box;
    }
    
    .word_ST{
        /* border: 1px solid rgb(83, 235, 12); */
        font-size: 13px;
        margin-bottom: -10px;
        /* width: 70px; */
    }
    
    .word_Down{
        /* border: 1px solid rgb(83, 235, 12); */
        font-size: 11px;
        color: blue;
        /* width: 70px; */
    }
    
    .download_animated_icon{
        /* border: 1px solid rgb(83, 235, 12); */
        width: 30px;
    }
    
    
    
    
    
    .third_right_container{
        /* border: 1px solid green; */
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .third_right_heading{
        /* border: 1px solid green; */
        font-size: 40px;
        margin-bottom: -10px;
    }
    
    .third_right_sub_heading{
        /* border: 1px solid green; */
        font-size: 20px;
    }
    /* third Container */
    
    
    
    
    /* fourth container */
    .fourth_container{
        /* border: 1px solid green;  */
        color: white;
        width: 990px;
        margin: 30px auto;
        padding: 10px;
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }
    
    .left_fourth_container{
        /* border: 1px solid green;  */
        padding: 10px;
        width: 390px;
    }
    
    .fourth_left_heading{
        /* border: 1px solid green;  */
        font-size: 40px;
        width: 390px;
        margin-bottom: -10px;
    }
    
    .fourth_left_sub_heading{
        /* border: 1px solid green;  */
        font-size: 20px;
        width: 390px;
    }
    
    
    
    .right_fourth_container{
        /* border: 1px solid rgb(66, 4, 238);  */
        width: 495px;
        padding: 10px;
    }
    
    .fourth_tv_video_container{
        /* border: 1px solid rgb(189, 224, 11);  */
        position: relative;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    
    .singh_video{
        /* border: 1px solid rgb(168, 15, 214);  */
        width: 310px;
        margin: 35px;
        position: absolute;
        left: 55px;
        top: 20px;
    }
    
    .apple_tv{
        /* border: 1px solid green;  */
        position: relative;
        width: 100%;
    }
    /* fourth container */
    
    /* fifth container */
    .fifth_container{
        /* border: 1px solid green;  */
        color: white;
        width: 990px;
        margin: 30px auto;
        padding: 10px;
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }
    
    .left_fifth_container{
        /* border: 1px solid green;  */
        padding: 10px;
        width: 410px;
    }
    
    .cartoon_image{
        /* border: 1px solid rgb(189, 224, 11); */
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    
    .right_fifth_container{
        /* border: 1px solid rgb(66, 4, 238);  */
        width: 495px;
        padding: 10px;
    }
    /* fifth container */
    
    /* frequently asked questions */
    .Frequently_asked_question_container{
        /* border: 1px solid rgb(66, 4, 238); */
        color: white;
        width: 100%px;
        /* margin: 10px auto; */
        padding: 10px;
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .Frequently_Heading{
        /* border: 1px solid rgb(234, 4, 238); */
        font-size: 32px;
        font-weight: bolder;
        /* width: 95%; */
        /* padding: -50px; */
        text-align: center;
    }
    
    .Questions{
        /* border: 1px solid rgb(4, 195, 238); */
        width: 95%;
        padding: 1px;
    }
    
    .What_is_Netflix{
        /* border: 1px solid rgb(238, 4, 63); */
        align-items: center;
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        background-color: rgb(45, 45, 45);
        margin-bottom: 10px;
        transition: .3s;
        cursor: pointer;
    }
    
    .What_is_Netflix:hover{
        background-color: rgb(91, 88, 88);
    
    }
    
    .question_text{
        /* border: 1px solid rgb(222, 238, 4); */
        border: none;
    }
    
    .plus_icon{
        /* border: 1px solid rgb(222, 238, 4); */
        text-align: center;
    }
    
    .Ready_to_watch{
        /* border: 1px solid rgb(222, 238, 4); */
        text-align: center;
    
    }
    
    .Ready{
        font-size: 18px;
    }
    /* frequently asked questions */
    
    
    /* footer */
    .footer{
        /* border: 1px solid rgb(222, 238, 4); */
        color: white;
        width: 990px;
        margin: 50px auto;
    }
    
    .Call{
        margin: 10px;
        /* border: 1px solid rgb(222, 238, 4); */
    }
    
    .Call_number{
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
    
    .footer_column{
        /* border: 1px solid rgb(35, 4, 238); */
        display: flex;
        gap: 110px;
        padding: 10px;
        font-size: 14px;
    }
    
    .underline{
        text-decoration: underline;
    }
    
    .column_1{
        /* border: 1px solid rgb(222, 238, 4); */
        /* display: inline-block; */
        border: none;
    }
    
    .column_2{
        /* border: 1px solid rgb(222, 238, 4); */
        /* display: inline-block; */
        text-decoration: underline;
        cursor: pointer;
    }
    
    .column_3{
        /* border: 1px solid rgb(222, 238, 4); */
        /* display: inline-block; */
        text-decoration: underline;
        cursor: pointer;
    }
    
    .column_4{
        /* border: 1px solid rgb(222, 238, 4); */
        /* display: inline-block; */
        text-decoration: underline;
        cursor: pointer;
    }
    
    .cursor_pointer{
        cursor: pointer;
    }
    
    /* footer */    
}
/* bigger screens */


/* Medium screens */
@media(min-width:586px) and (max-width:990px){

    .hero{
        width: 100%;
        height: 110vh;
        overflow: hidden;  
        /* border: 1px solid rgb(239, 8, 185); */
        /* margin-bottom: -120px;  */
    }
    
    .hero_image{
        width: 100%;
        height: 100vh;
        object-fit: cover;

        transform: scale(1.2);
        /* margin-bottom: -120px; */
        /* transform: scale(1.25) translateY(12%); */
    }
    
    .tint{
        border: 1px solid green;
        /* transform: scale(1.1); */
        /* width: 100%; */
        height: 110vh;
        position: absolute; 
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* margin-bottom: -120px;  */
        background-color: rgba(0, 0, 0, 0.491);
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    }
    
    .top_navbar{
        position: absolute;
        top: 0;
        /* border: 1px solid green; */
        display: flex;
        justify-content: space-between;
        width: calc(100vw - 80px);
        top: 6%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        padding: 10px;
    }
    
    .netflix_logo{
        color: rgb(229, 9, 20);
        /* border: 1px solid green; */
        height: 38px;
        fill: currentColor;
        margin-bottom: -2px;
        display: inline-block;
    }
    
    .English_Signin_buttons{
        display: flex;
        gap: 20px;
        /* border: 1px solid green; */
        margin-right: 10px;
        font-size: 14px;
        font-weight: 600;
    }
    
    .English_button{
        border: 1px solid rgba(253, 253, 253, 0.39);
        background-color: rgba(22, 22, 22, 0.7);
        color: white;
        border-radius: 5px;
        padding: 8px 30px;
    }
    
    .Signin_button{
        /* border: 1px solid green; */
        border-radius: 5px;
        background-color: red;
        color: white;
        padding: 8px 18px;
        font-weight: bold;
        font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
        border: none;
    }
    
    .hero_content{
        /* border: 1px solid green; */
        position: absolute;
        top: 0;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        /* box-sizing: border-box; */
        /* width: 840px; */
        text-align: center;
    }
    
    .title{
        font-size:5vmax;
        /* border: 1px solid green; */
        text-align: center;
        font-weight: 700;
        font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
        /* box-sizing: border-box; */
    }
    
    .sub_title{
        font-size: 26px;
    }
    
    .desc{
        font-size: 18px;
    }
    
    .email_address_get_started{
        display: flex;
        justify-content: center;
        gap: 14px;
    }
    
    .email_id{
        width: 320px;
        padding: 16px;
        font-size: 16px;
        background-color: rgba(22, 22, 22, 0.7);
        border: 1px solid rgba(128, 128, 128, 0.402);
        border-radius: 4px;
    }
    
    .Get_Started_Button{
        width: 220px;
        padding: 10px 20px 10px 20px;
        font-size: 23px;
        border: none;
        border-radius: 4px;
        background-color: red;
        color: white;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        /* border: 1px solid green; */
    }
    
    .color_arrow{
        /* border: 1px solid green; */
        color: white;
        width: 24px;
        margin-top: 5px;
    }
    
    .get{
        /* border: 1px solid green; */
        border: none;
    }
    
    
    
    
    
    
    
    /* Second Container */
    .second_container{
        /* border: 2px solid rgb(128, 15, 0); */
        color: white;
        margin: 100px auto;
        gap: 10px;
        /* box-sizing: border-box; */
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    
    .left_container{
        /* border: 1px solid rgb(0, 128, 11); */
        /* padding: 10px; */
        width: 95vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .left_heading{
        font-size: 5vmax;
        /* border: 1px solid green; */
        margin-bottom: -10px;
    }
    
    .left_sub_heading{
        font-size: 3vmax;
        /* border: 1px solid green; */
        width: 100%;
        /* width: 450px; */
    }
    
    
    
    
    
    
    .right_container{
        /* border: 1px solid green; */
        /* width: 50%; */
        padding: 10px;
        /* position: relative; */
    
    }
    
    .real_tv{
        position: relative;
        /* border: 1px solid rgb(0, 75, 128); */
        display: block;
        width: 70vw;
        margin: auto;
        /* padding: 10px; */
    }
    
    .video{
        object-fit: contain;
        position: absolute;
        width: 80%;
        margin-left: 66px;
        height: 100%;
        /* border: 1px solid rgb(128, 28, 0); */
    }
    
    .tv{
        position: relative;
        width: 100%;
        /* border: 1px solid rgb(128, 119, 0); */
        box-sizing: border-box;
    }
    /* Second Container */
    
    
    
    /* section */
    section{
        border-bottom: 8px solid #69686894;
    }
    /* section */
    
    
    /* third Container */
    .third_container{
        /* border: 2px solid rgb(128, 15, 0); */
        color: white;
        /* width: 990px; */
        display: flex;
        flex-direction: column-reverse;
        margin: 20px auto;
        gap: 1px;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    
    .third_left_container{
        border: none;
        /* border: 1px solid green; */
        align-items: center;
        justify-content: center;
       /* width: 70vw; */
        padding: 10px;
        /* width: 150%; */
    }
    
    .mobile_image_and_stranger_thing_cover_container{
        /* border: 1px solid rgb(185, 231, 20); */
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 10px;
        display: block;
        position: relative;
    }
    
    .mobile_cover{
        /* border: 1px solid rgb(234, 8, 170); */
        width: 60vw;
        /* z-index: 1; */
        position: relative;
        display: block;
        margin: auto;
    }
    
    .Stranger_things_container{
        display: flex;
        background-color: black;
        border: 1.5px solid rgba(75, 74, 74, 0.726);
        width: 35vw;
        position: absolute;
        top: 76%;
        transform: translate(35%, -50%);
        /* z-index: 1; */
        border-radius: 9px;
    }
    
    .StrangersThings_cover{
        /* border: 1px solid rgb(83, 235, 12); */
        width: 18%;
        margin: 5px;
        position: relative;
    }
    
    .wording_download_container{
        /* border: 1px solid rgb(12, 53, 235); */
        display: flex;
        width: 72%;
        align-items: center;
        justify-content: center;
        /* padding: 10px; */
        margin: 5px;
        gap: 20px;
        position: relative;
        box-sizing: border-box;
    }
    
    .word_ST{
        /* border: 1px solid rgb(83, 235, 12); */
        font-size: 13px;
        margin-bottom: -10px;
        /* width: 70px; */
    }
    
    .word_Down{
        /* border: 1px solid rgb(83, 235, 12); */
        font-size: 11px;
        color: blue;
        /* width: 70px; */
    }
    
    .download_animated_icon{
        /* border: 1px solid rgb(83, 235, 12); */
        width: 30px;
    }
    
    
    
    
    
    .third_right_container{
        /* border: 1px solid green; */
        padding: 10px;
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .third_right_heading{
        /* width: 100%; */
        /* border: 1px solid green; */
        font-size: 5vmax;
        margin-bottom: -10px;
    }
    
    .third_right_sub_heading{
        /* border: 1px solid green; */
        font-size: 3vmin;
    }
    /* third Container */
    
    
    
    
    /* fourth container */
    .fourth_container{
        /* border: 1px solid green;  */
        color: white;
        /* width: 990px; */
        margin: 30px auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 1px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .left_fourth_container{
        /* border: 1px solid green;  */
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        /* width: 90%; */
    }
    
    .fourth_left_heading{
        /* border: 1px solid green;  */
        font-size: 5vmax;
        /* width: 390px; */
        margin-bottom: -10px;
    }
    
    .fourth_left_sub_heading{
        /* border: 1px solid green;  */
        font-size: 3vmax;
        /* width: 390px; */
    }
    
    
    
    .right_fourth_container{
        /* border: 1px solid rgb(66, 4, 238);  */
        width: 495px;
        padding: 10px;
    }
    
    .fourth_tv_video_container{
        /* border: 1px solid rgb(189, 224, 11);  */
        position: relative;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    
    .singh_video{
        /* border: 1px solid rgb(168, 15, 214);  */
        width: 310px;
        margin: 35px;
        position: absolute;
        left: 55px;
        top: 20px;
    }
    
    .apple_tv{
        /* border: 1px solid green;  */
        position: relative;
        width: 100%;
    }
    /* fourth container */
    




    /* fifth container */
    .fifth_container{
        /* border: 1px solid green;  */
        color: white;
        /* width: 990px; */
        margin: 30px auto;
        padding: 10px;
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }
    
    .left_fifth_container{
        /* border: 1px solid green;  */
        padding: 10px;
        width: 410px;
    }
    
    .cartoon_image{
        /* border: 1px solid rgb(189, 224, 11); */
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    
    .right_fifth_container{
        /* border: 1px solid rgb(66, 4, 238);  */
        /* width: 90%; */
        padding: 10px;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    /* fifth container */
    
    /* frequently asked questions */
    .Frequently_asked_question_container{
        /* border: 1px solid rgb(66, 4, 238); */
        color: white;
        width: 100%px;
        /* margin: 10px auto; */
        padding: 10px;
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .Frequently_Heading{
        /* border: 1px solid rgb(234, 4, 238); */
        font-size: 3vmax;
        font-weight: bolder;
        /* width: 95%; */
        /* padding: -50px; */
        text-align: center;
    }
    
    .Questions{
        /* border: 1px solid rgb(4, 195, 238); */
        width: 95%;
        padding: 1px;
    }
    
    .What_is_Netflix{
        /* border: 1px solid rgb(238, 4, 63); */
        align-items: center;
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        background-color: rgb(45, 45, 45);
        margin-bottom: 10px;
        transition: .3s;
        cursor: pointer;
    }
    
    .What_is_Netflix:hover{
        background-color: rgb(91, 88, 88);
    
    }
    
    .question_text{
        /* border: 1px solid rgb(222, 238, 4); */
        border: none;
        font-size: 3vmax;
        
    }
    
    .plus_icon{
        /* border: 1px solid rgb(222, 238, 4); */
        text-align: center;
    }
    
    .Ready_to_watch{
        /* border: 1px solid rgb(222, 238, 4); */
        text-align: center;
    
    }
    
    .Ready{
        font-size: 18px;
    }
    /* frequently asked questions */
    
    
    /* footer */
    .footer{
        /* border: 1px solid rgb(222, 238, 4); */
        color: white;
        width: 990px;
        margin: 50px auto;
    }
    
    .Call{
        margin: 10px;
        /* border: 1px solid rgb(222, 238, 4); */
    }
    
    .Call_number{
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
    
    .footer_column{
        /* border: 1px solid rgb(35, 4, 238); */
        display: flex;
        gap: 110px;
        padding: 10px;
        font-size: 14px;
    }
    
    .underline{
        text-decoration: underline;
    }
    
    .column_1{
        /* border: 1px solid rgb(222, 238, 4); */
        /* display: inline-block; */
        border: none;
    }
    
    .column_2{
        /* border: 1px solid rgb(222, 238, 4); */
        /* display: inline-block; */
        text-decoration: underline;
        cursor: pointer;
    }
    
    .column_3{
        /* border: 1px solid rgb(222, 238, 4); */
        /* display: inline-block; */
        text-decoration: underline;
        cursor: pointer;
    }
    
    .column_4{
        /* border: 1px solid rgb(222, 238, 4); */
        /* display: inline-block; */
        text-decoration: underline;
        cursor: pointer;
    }
    
    .cursor_pointer{
        cursor: pointer;
    }
    
    /* footer */    
}
/* Medium screens */


/* Smaller screens */
@media(min-width:0px) and (max-width:586px){
 
    .hero{
        width: 100%;
        height: 110vh;
        overflow: hidden;  
        /* border: 1px solid rgb(239, 8, 185); */
        /* margin-bottom: -120px;  */
    }
    
    .hero_image{
        width: 100%;
        height: 100vh;
        object-fit: cover;

        transform: scale(1.2);
        /* margin-bottom: -120px; */
        /* transform: scale(1.25) translateY(12%); */
    }
    
    .tint{
        /* border: 1px solid green; */
        /* transform: scale(1.1); */
        /* width: 100%; */
        height: 110vh;
        position: absolute; 
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* margin-bottom: -120px;  */
        background-color: rgba(0, 0, 0, 0.491);
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    }
    
    .top_navbar{
        position: absolute;
        top: 0;
        /* border: 1px solid green; */
        display: flex;
        justify-content: space-between;
        width: calc(100vw - 80px);
        top: 6%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        padding: 10px;
    }
    
    .netflix_logo{
        color: rgb(229, 9, 20);
        /* border: 1px solid green; */
        height: 4vmax;
        fill: currentColor;
        margin-bottom: -2px;
        display: inline-block;
    }
    
    .English_Signin_buttons{
        display: flex;
        gap: 20px;
        /* border: 1px solid green; */
        margin-right: 10px;
        font-size: 14px;
        font-weight: 600;
    }
    
    .English_button{
        border: 1px solid rgba(253, 253, 253, 0.39);
        background-color: rgba(22, 22, 22, 0.7);
        color: white;
        border-radius: 5px;
        padding: 6px 15px;
    }
    
    .Signin_button{
        /* border: 1px solid green; */
        border-radius: 5px;
        background-color: red;
        color: white;
        padding: 6px 15px;
        font-weight: bold;
        font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
        border: none;
    }
    
    .hero_content{
        /* border: 1px solid green; */
        position: absolute;
        top: 0;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        /* box-sizing: border-box; */
        width: 80vw;
        text-align: center;
    }
    
    .title{
        font-size:5vmax;
        /* border: 1px solid green; */
        text-align: center;
        font-weight: 700;
        font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
        /* box-sizing: border-box; */
    }
    
    .sub_title{
        font-size: 26px;
    }
    
    .desc{
        font-size: 18px;
    }
    
    .email_address_get_started{
        /* border: 1px solid green; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 14px;
    }
    
    .email_id{
        width: 320px;
        padding: 16px;
        font-size: 16px;
        background-color: rgba(22, 22, 22, 0.7);
        border: 1px solid rgba(128, 128, 128, 0.402);
        border-radius: 4px;
    }

    .email_id:focus{
        outline: 4px;
        outline-style: double;
        outline-color: white;
        border: 1px double rgba(181, 25, 25, 0.402);
        
    }
    
    .Get_Started_Button{
        width: 220px;
        padding: 10px 20px 10px 20px;
        font-size: 23px;
        border: none;
        border-radius: 4px;
        background-color: red;
        color: white;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        /* border: 1px solid green; */
    }
    
    .color_arrow{
        /* border: 1px solid green; */
        color: white;
        width: 24px;
        margin-top: 5px;
    }
    
    .get{
        /* border: 1px solid green; */
        border: none;
    }
    
    
    
    
    
    
    
    /* Second Container */
    .second_container{
        /* border: 2px solid rgb(128, 15, 0); */
        color: white;
        margin: 100px auto;
        gap: 10px;
        /* box-sizing: border-box; */
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    
    .left_container{
        /* border: 1px solid rgb(0, 128, 11); */
        /* padding: 10px; */
        width: 95vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .left_heading{
        font-size: 5vmax;
        /* border: 1px solid green; */
        margin-bottom: -10px;
    }
    
    .left_sub_heading{
        font-size: 3vmax;
        /* border: 1px solid green; */
        width: 100%;
        /* width: 450px; */
    }
    
    
    
    
    
    
    .right_container{
        /* border: 1px solid green; */
        /* width: 50%; */
        padding: 10px;
        /* position: relative; */
    
    }
    
    .real_tv{
        position: relative;
        /* border: 1px solid rgb(0, 75, 128); */
        display: block;
        width: 90vw;
        /* flex-shrink: 1; */
        margin: auto;
        /* padding: 10px; */
    }
    
    .video{
        object-fit: contain;
        position: absolute;
        width: 80%;
        margin-left: 66px;
        height: 100%;
        /* border: 1px solid rgb(128, 28, 0); */
    }
    
    .tv{
        position: relative;
        width: 100%;
        /* border: 1px solid rgb(128, 119, 0); */
        box-sizing: border-box;
    }
    /* Second Container */
    
    
    
    /* section */
    section{
        border-bottom: 8px solid #69686894;
    }
    /* section */
    
    
    /* third Container */
    .third_container{
        /* border: 2px solid rgb(128, 15, 0); */
        color: white;
        /* width: 990px; */
        display: flex;
        flex-direction: column-reverse;
        margin: 20px auto;
        gap: 1px;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    
    .third_left_container{
        border: none;
        /* border: 1px solid green; */
        align-items: center;
        justify-content: center;
       /* width: 70vw; */
        padding: 10px;
        /* width: 150%; */
    }
    
    .mobile_image_and_stranger_thing_cover_container{
        /* border: 1px solid rgb(185, 231, 20); */
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 10px;
        display: block;
        position: relative;
    }
    
    .mobile_cover{
        /* border: 1px solid rgb(234, 8, 170); */
        width: 70vw;
        /* z-index: 1; */
        position: relative;
        display: block;
        margin: auto;
    }
    
    .Stranger_things_container{
        display: flex;
        background-color: black;
        border: 1.5px solid rgba(65, 63, 63, 0.726);
        /* width: 35vw; */
        box-sizing: border-box;
        box-shadow: 0 0 2em 0 rgb(0,0,0);
        position: absolute;
        top: 76%;
        transform: translate(0%, -50%);
        /* z-index: 1; */
        border-radius: 9px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .StrangersThings_cover{
        /* border: 1px solid rgb(83, 235, 12); */
        width: 18%;
        margin: 5px;
        position: relative;
    }
    
    .wording_download_container{
        /* border: 1px solid rgb(12, 53, 235); */
        display: flex;
        width: 72%;
        align-items: center;
        justify-content: center;
        /* padding: 10px; */
        margin: 5px;
        gap: 20px;
        position: relative;
        box-sizing: border-box;
    }
    
    .word_ST{
        /* border: 1px solid rgb(83, 235, 12); */
        font-size: 13px;
        margin-bottom: -10px;
        /* width: 70px; */
    }
    
    .word_Down{
        /* border: 1px solid rgb(83, 235, 12); */
        font-size: 11px;
        color: blue;
        /* width: 70px; */
    }
    
    .download_animated_icon{
        /* border: 1px solid rgb(83, 235, 12); */
        width: 30px;
        /* background-size: 100%; */
    }
    
    
    
    
    
    .third_right_container{
        /* border: 1px solid green; */
        padding: 10px;
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .third_right_heading{
        /* width: 100%; */
        /* border: 1px solid green; */
        font-size: 5vmax;
        margin-bottom: -10px;
    }
    
    .third_right_sub_heading{
        /* border: 1px solid green; */
        font-size: 3vmin;
    }
    /* third Container */
    
    
    
    
    /* fourth container */
    .fourth_container{
        /* border: 1px solid green;  */
        color: white;
        /* width: 990px; */
        margin: 30px auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 1px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .left_fourth_container{
        /* border: 1px solid green;  */
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        /* width: 90%; */
    }
    
    .fourth_left_heading{
        /* border: 1px solid green;  */
        font-size: 5vmax;
        /* width: 390px; */
        margin-bottom: -10px;
    }
    
    .fourth_left_sub_heading{
        /* border: 1px solid green;  */
        font-size: 3vmax;
        /* width: 390px; */
    }
    
    
    
    .right_fourth_container{
        /* border: 1px solid rgb(66, 4, 238);  */
        width: 90vw;
        padding: 10px;
    }
    
    .fourth_tv_video_container{
        /* border: 1px solid rgb(189, 224, 11);  */
        position: relative;
        /* width: 100%; */
        margin: auto;
        /* display: block; */
        box-sizing: border-box;
    }
    
    .singh_video{
        /* border: 1px solid rgb(168, 15, 214); */
        width: 100%;
        height: 100%;
        max-width: 63%;
        max-height: 47%;
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .apple_tv{
        /* border: 1px solid green;  */
        position: relative;
        width: 100%;
        box-sizing: border-box;
    }
    /* fourth container */
    




    /* fifth container */
    .fifth_container{
        /* border: 1px solid green;  */
        color: white;
        /* width: 990px; */
        margin: 30px auto;
        padding: 10px;
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }
    
    .left_fifth_container{
        /* border: 1px solid green;  */
        padding: 10px;
        width: 410px;
    }
    
    .cartoon_image{
        /* border: 1px solid rgb(189, 224, 11); */
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    
    .right_fifth_container{
        /* border: 1px solid rgb(66, 4, 238);  */
        /* width: 90%; */
        padding: 10px;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    /* fifth container */
    
    /* frequently asked questions */
    .Frequently_asked_question_container{
        /* border: 1px solid rgb(66, 4, 238); */
        color: white;
        width: 100%px;
        /* margin: 10px auto; */
        padding: 10px;
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .Frequently_Heading{
        /* border: 1px solid rgb(234, 4, 238); */
        font-size: 3vmax;
        font-weight: bolder;
        /* width: 95%; */
        /* padding: -50px; */
        text-align: center;
    }
    
    .Questions{
        /* border: 1px solid rgb(4, 195, 238); */
        width: 95%;
        padding: 1px;
    }
    
    .What_is_Netflix{
        /* border: 1px solid rgb(238, 4, 63); */
        align-items: center;
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        background-color: rgb(45, 45, 45);
        margin-bottom: 10px;
        transition: .3s;
        cursor: pointer;
    }
    
    .What_is_Netflix:hover{
        background-color: rgb(91, 88, 88);
    
    }
    
    .question_text{
        /* border: 1px solid rgb(222, 238, 4); */
        border: none;
        font-size: 3vmax;
        
    }
    
    .plus_icon{
        /* border: 1px solid rgb(222, 238, 4); */
        text-align: center;
    }
    
    .Ready_to_watch{
        /* border: 1px solid rgb(222, 238, 4); */
        text-align: center;
    
    }
    
    .Ready{
        font-size: 18px;
    }
    /* frequently asked questions */
    
    
    /* footer */
    .footer{
        /* border: 1px solid rgb(222, 238, 4); */
        color: white;
        width: 990px;
        margin: 50px auto;
    }
    
    .Call{
        margin: 10px;
        /* border: 1px solid rgb(222, 238, 4); */
    }
    
    .Call_number{
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
    
    .footer_column{
        /* border: 1px solid rgb(35, 4, 238); */
        display: flex;
        gap: 110px;
        padding: 10px;
        font-size: 14px;
    }
    
    .underline{
        text-decoration: underline;
    }
    
    .column_1{
        /* border: 1px solid rgb(222, 238, 4); */
        /* display: inline-block; */
        border: none;
    }
    
    .column_2{
        /* border: 1px solid rgb(222, 238, 4); */
        /* display: inline-block; */
        text-decoration: underline;
        cursor: pointer;
    }
    
    .column_3{
        /* border: 1px solid rgb(222, 238, 4); */
        /* display: inline-block; */
        text-decoration: underline;
        cursor: pointer;
    }
    
    .column_4{
        /* border: 1px solid rgb(222, 238, 4); */
        /* display: inline-block; */
        text-decoration: underline;
        cursor: pointer;
    }
    
    .cursor_pointer{
        cursor: pointer;
    }
    
    /* footer */    

}
/* Smaller screens */